.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgba(255, 138, 61, 0.2);
}

.nav-list {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  position: relative;
}

.nav-notification {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: tomato;
  left: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
}
